

.btn:hover {

   cursor: pointer;

   .bt {
      color: #0BBF7D;
      transform: scale(1.15);
      transition-duration: 0.15s;
   }

   .reset-icon {
      transform: scale(1.15);
      transition-duration: 0.15s;
   }
}

.btn:active {
   
   .bt {
      color: #0BBF7D;
      transform: scale(.95);
      transition-duration: 0.15s;
   }

   .reset-icon {
      transform: scale(.95);
      transition-duration: 0.15s;
   }
}
