@media (max-width: 1250px) {

   .container {
      margin-top: 0;

      .wrapper {
         width: 100%;
      }
   }

   .buttons{

      .bt {
         padding: 0px 0px;    
      }

      .btn {
         height: 150px;
      }

  }

  .btn:hover{

   .bt {
      transform: none;
   }

   .reset-icon {
      transform: none;
   }
  }
}