* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #192E40;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  width: 60%;
  padding-top: 30px;
  background-color: #324E59;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 30px -15px #0f0f0f;
          box-shadow: 0 2px 30px -15px #0f0f0f;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover .bt {
  color: #0BBF7D;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.btn:hover .reset-icon {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.btn:active .bt {
  color: #0BBF7D;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.btn:active .reset-icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12vh;
}

.buttons .btn {
  height: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.buttons .bt {
  border: none;
  background: none;
  color: white;
  font-size: 6em;
  padding: 16px 60px;
  cursor: pointer;
}

.buttons .plus {
  border-top: 5px solid #0BBF7D;
  border-left: 5px solid #0BBF7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons .minus {
  border-top: 5px solid #0BBF7D;
  border-right: 5px solid #0BBF7D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .reset .reset-icon {
  height: 60px;
}

.buttons .reset .save {
  margin-top: 7px;
}

body {
  color: white;
}

.count-number {
  color: #0BBF7D;
}

/* Name*/
.logo-name {
  font-size: 1.5rem;
}

/*Counter Number */
.count-number {
  margin-top: 8vh;
  font-size: 10rem;
}

/*Score*/
.score {
  margin-top: 3vh;
  font-size: 1.8rem;
}

/*Footer*/
.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1250px) {
  .container {
    margin-top: 15px;
  }
  .container .wrapper {
    width: 100%;
  }
  .buttons .bt {
    padding: 0px 0px;
  }
}
/*# sourceMappingURL=styles.css.map */